/*body {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.timer-digits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}
.timerDiv {
  text-align:center;
  margin:20px 0;
}
#startTimer {
  background:green;
  padding:10px 40px;
  border: 1px solid black;
  color:white;
}

.timerDiv {
  display:block;
  
}